<%- include("partials/header.ejs") -%>

    <h1>Home</h1>
    <p> <%= homeStartingContentFromHome %>  </p>

    <% postFromHome.forEach(function(post){   %>
        <h1> <%= post.title %>  </h1>
        <p> <%= truncate(post.content, ) %> <a href="/posts/<%= post.slug %>" target="_self">Read More</a></p> 
        <% }); %>

    <% function truncate(content) { %>
        <% var trimmedContent = content.slice(0,100) + " ..."; %>
        <% return trimmedContent; %>
        <% } %>

<%- include("partials/footer.ejs") -%>